<footer>
    <div class="row">
        <div class="col-md-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <p>
                <em>Provided by <a href="/">SeatShare</a></em>
            </p>
        </div>
        <div class="col-md-10">
            <div class="text-right">
                <ul class="list-inline">
                    <li class="hidden-xs"><a target="_blank" title="SeatShare Blog" href="http://blog.myseatshare.com"><span class="fa fa-newspaper-o"><span class="hidden">Blog</span></span></a></li>
                    <li class="hidden-xs"><a target="_blank" title="SeatShare on YouTube" href="https://www.youtube.com/channel/UCMD4VVnZaQ1W8JBwDXzn8hA"><span class="fa fa-youtube"><span class="hidden">YouTube</span></span></a></li>
                    <li class="hidden-xs"><a target="_blank" title="SeatShare on Google+" href="https://plus.google.com/102088751811335757727"><span class="fa fa-google-plus"><span class="hidden">Google+</span></span></a></li>
                    <li class="hidden-xs"><a target="_blank" title="SeatShare on Twitter" href="http://twitter.com/myseatshare"><span class="fa fa-twitter"><span class="hidden">Twitter</span></span></a></li>
                    <li class="hidden-xs"><a target="_blank" title="SeatShare on Facebook" href="http://facebook.com/myseatshare"><span class="fa fa-facebook"><span class="hidden">Facebook</span></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
